################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsyncDemo/v15
/AsyncDemo/bin/Debug
/AsyncDemo/obj/Debug
